# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Tests
coverage/
/src/generated/prisma

# Prisma generated client
src/generated/prisma/
